h2 {
    font-family: 'Inter';
    font-style: normal;
    line-height: 17px;
    color: #0078D4;
}

.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.customers td,
.customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

.customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customers tr:hover {
    background-color: #ddd;
}

customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

h2 {
    padding-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.baner {
    background: #0078D4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    text-align: center;

    color: #FFFFFF;
}

/* Table Styles */

.table-wrapper {
    box-shadow: 0px 35px 50px rgb(0 0 0 / 20%);
}

.fl-table {
    border-radius: 0px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background: #F1F9FF;
}

.fl-table td {
    text-align: center;
    padding: 8px;
}

.fl-table th {
    text-align: center;
    padding: 8px;
    background: #0078D4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}

.fl-table .check-id {
    width: 8%;
}

.fl-table .code {
    width: 18%;
}

.fl-table .name {
    width: 30%;
}

.fl-table .birthday {
    width: 16%;
}

.fl-table .image {
    width: 20%;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
}

.modal-content.action {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Style paging */
.pagination {
    overflow: hidden;
    display: flex;
    position: relative;
    user-select: none;
    align-items: center;
    margin: 0 auto;
}

.pagination .nav-btn {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    background: linear-gradient(45deg, #00aaed, #3ac8ff);
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    border: 0;
    z-index: 2;
    cursor: pointer;
    text-shadow: 0 0 0 rgb(0 0 0 / 0%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    transition: all 300ms ease;
}

.pagination .nav-btn:hover {
    background: linear-gradient(45deg, #07baff, #3ac8ff);
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.pagination .nav-btn.next {
    position: absolute;
    right: 0;
}

.pagination .nav-btn.prev::before {
    content: "";

}

.pagination .nav-btn.next::before {
    content: "";
}

.pagination .nav-pages {
    margin: 0;
    padding: 0;
    left: 0;
    transition: left 300ms ease;
    position: absolute;
    width: max-content;
    display: flex;
}

.pagination .nav-pages li {
    list-style: none;
    padding: 0;
    border-right: 1px solid #eee;
    text-align: center;
    cursor: pointer;
    border: 2px solid #0078D4;
    border-radius: 2px;
    margin: 0 8px;
    width: 40px;
    height: 40px;
    min-width: auto !important;
    font-weight: 700;
    font-size: 18px;
    color: #0078D4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .nav-pages li.active,
.pagination .nav-pages li:hover {
    color: #FFFFFF;
    background: #0078D4;
    border-radius: 2px;
}

.imgData {
    width: 80px;
    height: 80px;
}


.upload-image input {
    display: block !important;
    width: 158px !important;
    height: 45px !important;
    opacity: 0 !important;
    overflow: hidden !important;

}

.upload-image {
    cursor: pointer;
    width: 158px;
    /* overflow: hidden; */
    position: relative;
    display: inline-block;
    /*background-color:#fff;*/
    background-repeat: no-repeat;
    background-image:
        url('http://icons.iconarchive.com/icons/martz90/circle/512/camera-icon.png');
    background-size: 20px 20px;
}

.imgData_Modal {
    width: 180px;
    height: 180px;
    margin-bottom: 50px;
}

.form-row.search {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 73px;
    margin-left: 73px;
}

.search_button {
    margin-right: auto;
}

.action {
    display: flex;
    justify-content: flex-end;
}

.label-search {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #0078D4;
    width: 44px;
    margin-bottom: 0;
}

.form-control.search-text {
    border: 1px solid #0078D4;
    box-sizing: border-box;
    border-radius: 5px;
    width: calc(100% - 250px);
}

.form-control.text-modal {
    border: 1px solid #0078D4;
    box-sizing: border-box;
    border-radius: 5px;
    width: calc(100%);
}

.label-form-group {
    display: flex;
    align-items: center;

}

.checkboxId {
    border: 1px solid #0078D4;
    box-sizing: border-box;
    border-radius: 5px;
}

.btn.btn-primary {
    padding: 5px 8px 3px;
}

.btn.btn-primary.ct {
    margin: 3px;
}

.btn.btn-primary.ct:last-child {
    margin-right: 0px;
}

.action {
    margin-top: 6px;
    display: flex;
}

.pagination-config {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.page-config {
    padding-top: 14px;
}



